.author {
  &--short_description {
    margin: auto;
    max-width: 500px;
    text-align: center;
    &-img {
      border-radius: 20px;
      max-height: 400px;
      box-shadow: 5px 5px 8px 0px #000000;
    }
    &-name {
      font-size: 2rem;
    }
    div {
      margin-top: 5px;
    }
  }
}
