@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.Card-filmmaker {
  font-family: 'Roboto', sans-serif;
  width: 29.9%;
  margin: 0 1.7% 25px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  transition: all .2s ease-in-out !important;

  &:hover {
    transform: scale(1.025);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  }
}


.Filmmaker-card-main-page {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  display: flex;
  width: 100%;
  border: 2px solid #000000;
  box-shadow: 0 0 2px #222;

  &:hover {
    box-shadow: 0 0 8px #222;
  }

  .Photo-filmmaker {
    border-right: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 350px;
  }

  .Filmmaker-info-container {
    text-align: center;
    display: flex;
    flex-direction: column;

    .Name-filmmaker {
      margin: 84px 0 5px 0;
    }

    .Yaers-life-filmmaker {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 20px;
      margin: 0;
      font-weight: 700;
    }

    .Description-filmmaker {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 636px) {
  .Card-filmmaker {
    width: 46%;
    margin: 0 2% 25px;
  }
}

@media only screen and (max-width: 448px) {
  .Card-filmmaker {
    width: 100%;
  }
}
