@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

$font-1: "Roboto", sans-serif;
$font-2: 'Josefin Sans';

$primary-color: #000000;
$secondary-color: #585454;

h1 {
  font-family: $font-1;
  font-size: 46px;
}

h2 {
  font-family: $font-1;
  font-size: 28px;
  text-align: center;
  line-height: 1.3;
}

h3 {
  font-family: $font-1;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}

h4 {
  font-family: $font-1;
  font-size: 40px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: $font-1;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.wrapper {
  max-width: 960px;
  padding: 0 30px;
  margin: 0 auto;
}

.MuiInputBase-input {
  overflow: hidden;
  &:focus {
    &::-webkit-input-placeholder {
      transition: all .3s ease-in-out;
      transform: translateX(70%);
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    padding: 0 15px;
  }
}
