.slider {
  margin: 50px 0 80px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.awssld__wrapper {
  border-radius: 8px;
}

.awssld__controls__arrow-left, .awssld__controls__arrow-right {
  &:before, &:after {
    background: #fff;
  }
}

.awssld__content > img {
  filter: grayscale(1);
  object-fit: contain;
}